<header class="container">
    <div class="content">
        <H1>Bonjour, je m'appelle <span>RAFIK</span>, étudiant en L3 informatique</H1>
        <p>
            Actuellement en troisième année de licence d'informatique à l'Université de Bourgogne, je recherche
            activement une opportunité d'alternance pour septembre 2024 afin de poursuivre mon Master en Bases de
            données et Intelligence Artificielle. Doté de polyvalence et d'adaptabilité, je suis désireux de mettre
            mes compétences au service de votre entreprise dans le cadre d'un contrat d'alternance.
        </p>
        <a class="btn" href="../../assets/CV_2024-05-24_RAFIK_RHARMAOUI.pdf" target="_blank" download="">Mon CV</a>
    </div>
    <div class="image">
        <img src="../../assets/coding-illustration.png">
    </div>
</header>