* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

.btn:hover {
    background-color: orange;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: black;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

header .content p {
    margin-bottom: 2rem;
    color: black;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

@media (width < 900px) {

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

}

@media (width < 600px) {
    header .image::before {
        display: none;
    }
}