<footer class="container">
    <h2 class="header">CONTACT</h2>
    <div class="socials">
        <img class="custom-icon" src="../../assets/linkedin.png" alt="linkedin Icon"
            (click)="goTo('https://www.linkedin.com/in/rafik-rharmaoui-085299281/')">
        <img class="custom-icon" src="../../assets/github.png" alt="Gihub Icon"
            (click)="goTo('https://github.com/rafikApp')">
        <a href="mailto:rharmaoui.rafik@gmail.com"><img class="custom-icon" src="../../assets/Gmail.png"
                alt="Gmail Icon"></a>
    </div>
</footer>

<div class="copyright">
    Copyright © 2024 RHARMAOUI RAFIK. Tous droits réservés.
</div>