<section class="container">
    <h2 class="header">EXPÉRIENCES PROFESSIONNELLES</h2>
    <div class="experiences">
        <div class="card">
            <div class="content">
                <img class="custom-icon-exp" src="../../assets/Vertex_Industrie.png" alt="Vertex_Industrie logo">
                <h4>Vertex Industrie</h4>
                <h3></h3>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Développer des applications web pour un client.
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Gérer la base de données.
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Utiliser Blender pour modifier et insérer les données et les objets en modèle 3D
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Maintenir les mise à jour et la maintenance des applications
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Participer aux phases démonstration des solutions
                </p>
            </div>
            <button class="btn" id="VertexIndustrie" (click)="goTo('https://www.vertex-industrie.fr/')">Contact</button>
        </div>
        <div class="card">
            <div class="content">
                <img class="custom-icon-exp" src="../../assets/McDonald's.png" alt="McDonald's logo">
                <h4>McDonald's (Job étudiant)</h4>
                <h3></h3>
                <p>
                    <i class=" ri-checkbox-circle-line"></i>
                    Préparer les commandes client
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Assurer la propreté du restaurant
                </p>
                <p>
                    <i class="ri-checkbox-circle-line"></i>
                    Respecter les normes de sécurité
                </p>
            </div>
            <button class="btn" id="McDonald"
                (click)="goTo('https://www.mcdonalds.fr/restaurants/mcdonalds-fontaine-les-dijon/657')">Contact</button>
        </div>
    </div>
</section>