<section class="container">
    <h2 class="header">PROJETS UNIVERSITAIRES</h2>
    <div class="Projets">
        <div class="card" (click)="goTo('https://github.com/rafikApp/6-qui-prend')">
            <img class="custom-icon" src="../../assets/6qui-prend.png" alt="C++ Icon">
            <h4>6 qui prend</h4>
        </div>
        <div class="card" (click)="goTo('https://github.com/rafikApp/Jeu-de-Mines')">
            <img class="custom-icon" src="../../assets/Démineur.png" alt="C++ Icon">
            <div class="jouer">
                <h4>Démineur</h4>
            </div>

        </div>
        <div class="card" (click)="goTo('https://github.com/rafikApp/Jeu-Memory')">

            <img class="custom-icon" src="../../assets/Jeu_Memory.png" alt="C++ Icon">
            <h4>Jeu de memory</h4>
        </div>

        <div class="card" (click)="goTo('https://github.com/rafikApp/Site-de-Formation')">
            <img class="custom-icon" src="../../assets/education.png" alt="C++ Icon">
            <h4>Site de Formation</h4>
        </div>

        <div class="card" (click)="goTo('https://github.com/rafikApp/Graphe-k-quasi-cliques-')">
            <img class="custom-icon" src="../../assets/graphes.png" alt="C++ Icon">
            <h4>Graphes k-quasi cliques</h4>
        </div>

        <div class="card" (click)="goTo('https://github.com/rafikApp/Grid-Path')">
            <img class="custom-icon" src="../../assets/Grid_Path.png" alt="C++ Icon">
            <h4>Grid Path</h4>
        </div>

        <div class="card" (click)="goTo('https://github.com/rafikApp/Modelisation-Lapin')">
            <img class="custom-icon" src="../../assets/lapin-de-paques.png" alt="C++ Icon">
            <h4>Modélisation d'un lapin</h4>
        </div>
        <div class="card" (click)="goTo('https://github.com/rafikApp/Gestion-de-contact')">
            <img class="custom-icon" src="../../assets/Contact.png" alt="C++ Icon">
            <h4>Gestion de contact</h4>
        </div>
        <div class="card" (click)="goTo('https://github.com/rafikApp/Gestion-de-processus')">
            <img class="custom-icon" src="../../assets/iteration.png" alt="C++ Icon">
            <h4>Gestion de processus</h4>
        </div>