<section class="container">
    <h2 class="header">MES COMPÉTENCES</h2>
    <div class="skills">
        <div class="card">
            <img class="custom-icon" src="../../assets/team.png" alt="Team Icon">
            <h4>Travail d'équipe</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/ear.png" alt="Ear Icon">
            <h4>Sens de l'écoute</h4>
        </div>
        <div class="card">

            <img class="custom-icon" src="../../assets/analyse.png" alt="Analyse Icon">
            <h4>Sens d'analyse</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/1126453.png" alt="Créatif Icon">
            <h4>Créatif</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/scrum.png" alt="Scrum Icon">
            <h4>Scrum</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/html5.png" alt="HTML5 Icon">
            <h4>HTML5</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/css-3.png" alt="CSS Icon">
            <h4>CSS</h4>
        </div>
        <div class="card">

            <img class="custom-icon" src="../../assets/script-java.png" alt="JavaScript Icon">
            <h4>JavaScript</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/php.png" alt="Php Icon">
            <h4>Php</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/java.png" alt="Java Icon">
            <h4>Java</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/python.png" alt="Python Icon">
            <h4>Python</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/C.png" alt="C Icon">
            <h4>C</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/c++.png" alt="C++ Icon">
            <h4>C++</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/qt.svg" alt="QT_Creator Icon">
            <h4>QT Creator</h4>
        </div>
        <div class="card">

            <img class="custom-icon" src="../../assets/database.png" alt="SQL_&_PLSQL Icon">
            <h4>SQL & PLSQL</h4>
        </div>
        <div class="card">

            <img class="custom-icon" src="../../assets/power_bi.png" alt="Power_BI Icon">
            <h4>Power BI</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/Linux.png" alt="Linux Icon">
            <h4>Linux</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/Three.js_Icon.svg.png" alt="Three.JS Icon">
            <h4>Three.JS</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/xml.png" alt="xml Icon">
            <h4>XML</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/uml.png" alt="uml Icon">
            <h4>UML</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/Blender.png" alt="Blender Icon">
            <h4>Blender</h4>
        </div>
        <div class="card">
            <img class="custom-icon" src="../../assets/Budibase.png" alt="Budibase Icon">
            <h4>Budibase</h4>
        </div>
    </div>
</section>